
/* COLORS */
$clr-100: hsla(0, 0%, 100%, 1);
$clr-200: hsla(274, 100%, 99%, 1);
$clr-300: hsla(271, 12%, 34%, 1);
$clr-500: hsla(273, 85%, 13%, 1);
$clr-accent: hsla(150, 100%, 63%, 1);

/* TYPE */
$ff-header: 'Fraunces', serif;
$ff-regular: 'Manrope', sans-serif;

$fw-regular: 400; 
$fw-bold: 600;
$fw-heavy: 700;

$fs-regular: 1rem;
$fs-desktop-regular: 1.125rem;

$fs-mobile-header: 3.125rem;
$fs-mobile-subheader: 1.75rem;
$fs-mobile-subheader-big: 2rem;

$fs-tablet-header: 3.75rem;
$fs-tablet-subheader-big: 3rem;

$fs-desktop-header: 5rem;
$fs-desktop-subheader-big: 3.5rem;

$tablet: 768px;
$desktop: 1440px;
